@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
    "primary": #449d44,
    "secondary": #419641,
    "text-color": #333,
    "add-text": #756F6B,
    "layout-bg": #fff,
    "second-bg": #36425a,
    "light-grey": #f5f5f5,
    "medium-grey": #d6d6d6,
    "dark-grey": rgba(135,135,139,0.4),
);

$h1-font-size: 30px;
$h2-font-size: 15px;

$radius-rounded: 50%;