@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "calc";

body {
	background: url("../img/background.jpg") no-repeat;
}

@include media-breakpoint-up(md) {
	.container {
   		max-width: 940px;
	}
}

.main-header {
	border-bottom: 3px solid var(--primary);
	text-transform: uppercase;
	background-color: var(--second-bg);
	h1{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 600;
	}
}

a {
  color: var(--text-color);
  &:hover{
  	color: var(--primary);
  }
}