@charset 'utf-8';
@import "custom";
@import "bootstrap_4/bootstrap";
@import "calc";

body {
	background: url("#{$img-url}/background.jpg") no-repeat;
}

@include media-breakpoint-up(md) {
	.container {
   		max-width: 940px;
	}
}

header {
	color: $text-white;
	background-color: $second-bg;
	padding: 20px 15px;
	border-bottom: 3px solid $brand-primary;
	text-align: center;
	text-transform: uppercase;
	h2{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 600;
	}
}